
.namaz-time img {
    position: relative;
}
.namaz-time {
    display: flex;   
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 270px;
    padding-top: 36px;
    border: 1px solid #bcbcbc;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 151px;
    padding-bottom: 100px;
    position: relative;
    background-image: url("../assets/color-bg.jpg");
    overflow: hidden;
    margin-left: -1px;
    margin-bottom: 100px;
}
.namaz-timing {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 123.5px;
    
}
.namaz-time:before {
    background-color: #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s ease-in-out;
}
.namaz-time:after {
    left: 44%;
    bottom: 40px;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fbc50b;
}
.namaz-time h4 {
    color: #007d3a;
    font-family: 'Sawarabi Mincho';
    font-size: 36px;
    
    padding-top: 6px;
    padding-bottom: 20px;
   
    position: relative;
}
.namaz-time  span {
    position: relative;
    display: block;
   
    font-size: 16px;
    padding-top: 4px;
}
.namaz-time h5 {
    position: relative;
    font-size: 20px;
}
.namaz-time:hover:before {
            bottom: 0;
            height: 0;
}
.namaz-time:hover h5 ,.namaz-time:hover h4,.namaz-time:hover span  {
    color: #fff;
}
/* bsjk */
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0px 0px 0px 65px; */
}

.heading {
    text-align: center;
    width: 60%;
    padding-bottom: 0px;
}
.heading h2 {
    font-family: 'Sawarabi Mincho';
}
.heading p {
    color: #444;
    font-size: 19px;
    padding-top: 24px;
    font-family: 'Sawarabi Mincho';
    text-transform: uppercase;

}
.heading h2{

    font-size: 49px;
}
.heading img{
    position: relative;
    left: 350px;
}
.islamic-history p {
    position: relative;
    color: #555;
    line-height: 30px;
    padding-bottom: 30px;
   font-size: 17px;
}
.islamic-history {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    text-align: left;
    width: 77%;
    margin-left: 40px;
    padding: 20px;
    box-sizing: border-box;
}
ul.list li {
    padding-bottom: 14px;
    color: #333;
    position: relative;
    padding-left:20px;
    font-size: 18px;
}
ul.list li:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:#007d3a;
    border-radius: 50%;
    top: 7px;
    left:0;
}
.islamic-history  a.btn {
    background-color: transparent;
    border: 3px solid #fbc50b;
    margin-top: 30px;
    position: static;
    
    
}
.circle-text {
    position: relative;
    text-align: center;
    right: 50px;
}
.circle-text img.circle-text-img {
    top: 6%;
    position: absolute;
    left: 16%;
    animation: spin 25s infinite;
}
.circle-text figure.circle-img {
    width: 194px;
    height: 194px;
    background-color:#fbc50b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}
.circle-text figure.circle-img img {
    border: 1px solid black;
    width: 118px;
    padding: 30px;
    border-radius: 50%;
}

 .real-history-book {
    
    position: relative;
   width: 250px;
    right: 50px;

}

.real-history-book img {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.real-history-book.two {
    position: relative;
    right: 25px;
   position: relative;
   width: 350px

}

.real-history-book::before {
    z-index: 0;
    position: relative;
    background-image: url(../assets/background-history.png);
    mix-blend-mode: difference;
  
}

.real-history-book.two img {
    border-radius: 0;   
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
} 

@keyframes spin {
 
  100% { transform: rotate(360deg); }
}