.vl{
    margin-right: 10px;
    margin-left: 10px;
    
    transform: translateY(-10% );
    

    
}

.social-links {
  display: flex;
  font-size: 20px;
  margin-right: 170px;

  align-items: center; 
  gap: 10px;
}
.social-links a{
  margin-bottom: 15px;
}
.icon-fb:hover{
 color: #ffc107;
 transition: .7s ease;

}
.icon-x:hover{
  color: #ffc107;
  transition: .7s ease;

}
.icon-li:hover{
  color: #ffc107;
  transition: .7s ease;

}

.h{
    padding-left: 6px;
    color: white  ;
}
.icon-container{
    position: relative;
    margin-right: 10px;
    height: 20px;
    padding-left:24px;
    display: flex;
    align-items: center;
    
}

.location{
  display: flex;
}
.row {
  display: flex;
 
  background-color: rgba(0, 0, 0, 0); 
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
  color: white;
}



@media  (max-width: 1200px) {
  .row{
     display:none ;
  }

}
