body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} /* Modal Overlay */
.svg2 {
  margin-left: 400px;
}
.svg2 p{
  font-size: 30px;
  font-weight: bold;
  
}
.svg2 span{
  color: rgb(107 114 128 );
  margin-left: 110px;
  
}
.linkn a{
  position: relative;
  left: 520px;
  width: 10px;
  margin-left: 50px;
  color: rgb(107 114 128 );
  
}
.linkn a:hover{
  color: black;
  text-decoration: underline;
  transition: 0.4s ease;
 
}
.svg2 h1 {
  color: #007d3a;
  font-weight: bold;
  margin-left: 140px;
  
  font-size: 20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  position: relative;
  text-align: center;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
